@using ApplicationCore.ServiceInterfaces
@inject ICurrentEmployee currentEmployee

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid ">
        <h1 class="text-center">Welcome back @currentEmployee.Name</h1>
        
    </div>
}
else
{
    <div class="container-fluid ">
        <h1 class="text-center">Welcome to the Client Information System</h1>
        
    </div>
}

